# deploy

In [1]:
import math, redis, csv, json, random, string, pickle

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
origin_df = pd.read_csv('Airline_review.csv')

In [3]:
origin_df.shape

(23171, 20)

In [4]:
origin_df.columns

Index(['Unnamed: 0', 'Airline Name', 'Overall_Rating', 'Review_Title',
       'Review Date', 'Verified', 'Review', 'Aircraft', 'Type Of Traveller',
       'Seat Type', 'Route', 'Date Flown', 'Seat Comfort',
       'Cabin Staff Service', 'Food & Beverages', 'Ground Service',
       'Inflight Entertainment', 'Wifi & Connectivity', 'Value For Money',
       'Recommended'],
      dtype='object')

In [5]:
origin_df.dtypes

Unnamed: 0                  int64
Airline Name               object
Overall_Rating             object
Review_Title               object
Review Date                object
Verified                     bool
Review                     object
Aircraft                   object
Type Of Traveller          object
Seat Type                  object
Route                      object
Date Flown                 object
Seat Comfort              float64
Cabin Staff Service       float64
Food & Beverages          float64
Ground Service            float64
Inflight Entertainment    float64
Wifi & Connectivity       float64
Value For Money           float64
Recommended                object
dtype: object

In [6]:
origin_df.axes

[RangeIndex(start=0, stop=23171, step=1),
 Index(['Unnamed: 0', 'Airline Name', 'Overall_Rating', 'Review_Title',
        'Review Date', 'Verified', 'Review', 'Aircraft', 'Type Of Traveller',
        'Seat Type', 'Route', 'Date Flown', 'Seat Comfort',
        'Cabin Staff Service', 'Food & Beverages', 'Ground Service',
        'Inflight Entertainment', 'Wifi & Connectivity', 'Value For Money',
        'Recommended'],
       dtype='object')]

In [7]:
origin_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              23171 non-null  int64
 1   Airline Name            23171 non-null  object
 2   Overall_Rating          23171 non-null  object
 3   Review_Title            23171 non-null  object
 4   Review Date             23171 non-null  object
 5   Verified                23171 non-null  bool
 6   Review                  23171 non-null  object
 7   Aircraft                7129 non-null   object
 8   Type Of Traveller       19433 non-null  object
 9   Seat Type               22075 non-null  object
 10  Route                   19343 non-null  object
 11  Date Flown              19417 non-null  object
 12  Seat Comfort            19016 non-null  float64
 13  Cabin Staff Service     18911 non-null  float64
 14  Food & Beverages        14500 non-null  float64
 15  Ground Service          18378 non-null  float64
 16  Inflight Entertainment  10829 non-null  float64
 17  Wifi & Connectivity     5920 non-null   float64
 18  Value For Money         22105 non-null  float64
 19  Recommended             23171 non-null  object
dtypes: bool(1), float64(7), int64(1), object(11)
memory usage: 3.4+ MB

In [8]:
origin_df

,Unnamed: 0,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23166,23166,ZIPAIR,1,"""customer service is terrible""",5th July 2022,False,Bangkok to Tokyo. I’ve flown many low cost ai...,NaN,Couple Leisure,Economy Class,Bangkok to Tokyo,June 2022,2.0,1.0,NaN,1.0,1.0,1.0,1.0,no
23167,23167,ZIPAIR,1,"""Avoid at all costs""",1st June 2022,True,Avoid at all costs. I booked flights to go f...,NaN,Solo Leisure,Economy Class,Singapore to Tokyo,June 2022,NaN,NaN,NaN,NaN,NaN,NaN,1.0,no
23168,23168,ZIPAIR,3,"""Will not recommend to anyone""",31st May 2022,True,Flight was leaving at 23.15 and after an hou...,NaN,Business,Economy Class,Bangkok to Tokyo,May 2022,2.0,4.0,2.0,1.0,NaN,NaN,2.0,no
23169,23169,ZIPAIR,6,"""It was immaculately clean""",23rd May 2022,True,Zipair is JAL’s budget airline. They don’t ha...,Dreamliner,Business,Business Class,Tokyo to Los Angeles,May 2022,3.0,4.0,3.0,1.0,2.0,5.0,5.0,yes
23170,23170,ZIPAIR,1,"""lost all of our money with no refund""",20th May 2022,True,They lied about connection in Narita and we ...,NaN,Solo Leisure,Economy Class,Singapore to Tokyo,May 2022,NaN,NaN,NaN,1.0,NaN,NaN,1.0,no

In [9]:
for i, key in enumerate(origin_df.columns):
    print(f'{i + 1}. {key = }')

1. key = 'Unnamed: 0'
2. key = 'Airline Name'
3. key = 'Overall_Rating'
4. key = 'Review_Title'
5. key = 'Review Date'
6. key = 'Verified'
7. key = 'Review'
8. key = 'Aircraft'
9. key = 'Type Of Traveller'
10. key = 'Seat Type'
11. key = 'Route'
12. key = 'Date Flown'
13. key = 'Seat Comfort'
14. key = 'Cabin Staff Service'
15. key = 'Food & Beverages'
16. key = 'Ground Service'
17. key = 'Inflight Entertainment'
18. key = 'Wifi & Connectivity'
19. key = 'Value For Money'
20. key = 'Recommended'

In [10]:
set(origin_df['Airline Name'])

{'AB Aviation',
 'ANA All Nippon Airways',
 'ASKY Airlines',
 'ATA Airlines',
 'Adria Airways',
 'Aegean Airlines',
 'Aer Lingus',
 'Aero VIP',
 'AeroItalia',
 'Aerocaribbean',
 'Aeroflot Russian Airlines',
 'Aerolineas Argentinas',
 'Aeromar',
 'Aeromexico',
 'Aerosur',
 'Africa World Airlines',
 'Afriqiyah Airways',
 'Aigle Azur',
 'Air Algerie',
 'Air Antilles',
 'Air Arabia',
 'Air Astana',
 'Air Austral',
 'Air Bagan',
 'Air Berlin',
 'Air Botswana',
 'Air Burkina',
 'Air Busan',
 'Air Cairo',
 'Air Canada',
 'Air Canada rouge',
 'Air Caraibes',
 'Air China',
 'Air Corsica',
 'Air Costa',
 "Air Cote d'Ivoire",
 'Air Djibouti',
 'Air Dolomiti',
 'Air Europa',
 'Air France',
 'Air Greenland',
 'Air Iceland Connect',
 'Air India',
 'Air India Express',
 'Air Italy',
 'Air Juan',
 'Air KBZ',
 'Air Koryo',
 'Air Labrador',
 'Air Macau',
 'Air Madagascar',
 'Air Malawi',
 'Air Malta',
 'Air Mauritius',
 'Air Mediterranee',
 'Air Memphis',
 'Air Moldova',
 'Air Namibia',
 'Air New Zealand',
 'Air Niugini',
 "Air North Yukon's Airline",
 'Air Nostrum',
 'Air Panama',
 'Air Pegasus',
 'Air Rarotonga',
 'Air Serbia',
 'Air Seychelles',
 'Air Tahiti Nui',
 'Air Tanzania',
 'Air Transat',
 'Air Zimbabwe',
 'AirAsia',
 'AirAsia India',
 'AirAsia Philippines',
 'AirAsia X',
 'AirAsia Zest',
 'AirSWIFT',
 'Aircalin',
 'Airlink',
 'Airnorth',
 'Akasa Air',
 'Alaska Airlines',
 'Alitalia',
 'Allegiant Air',
 'Alliance Air',
 'Alliance Airlines',
 'Amaszonas',
 'American Airlines',
 'American Eagle',
 'AnadoluJet',
 'Andes Líneas Aéreas',
 'Ariana Afghan Airlines',
 'Arik Air',
 'Arkefly',
 'Armenia Air Company',
 'Asiana Airlines',
 'Atlantic Airways',
 'Auric Air',
 'Aurigny Air',
 'Austrian Airlines',
 'Avelo Airlines',
 'Avianca',
 'Avior Airlines',
 'Azerbaijan Airlines',
 'Azur Air Germany',
 'BA CityFlyer',
 'Badr Airlines',
 'Bahamasair',
 'Bamboo Airways',
 'Bangkok Airways',
 'Bassaka Air',
 'Batik Air',
 'Beijing Capital Airlines',
 'Belavia',
 'Berjaya Air',
 'Bhutan Airlines',
 'Binter Canarias',
 'Blue Air',
 'Blue Islands',
 'Blue Panorama Airlines',
 'Blue1',
 'Bluebird Airways',
 'BoraJet',
 'Boutique Air',
 'Breeze Airways',
 'British Airways',
 'Brussels Airlines',
 'Buddha Air',
 'Bulgaria Air',
 'Buta Airways',
 'CSA Czech Airlines',
 'Camair-Co',
 'Cambodia Airways',
 'Cambodia Bayon Airlines',
 'Canadian North',
 'Canaryfly',
 'Cape Air',
 'Caribbean Airlines',
 'Carpatair',
 'Cathay Dragon',
 'Cathay Pacific Airways',
 'Cayman Airways',
 'Cebu Pacific',
 'CemAir',
 'Central Mountain Air',
 'China Airlines',
 'China Eastern Airlines',
 'China Southern Airlines',
 'China United Airlines',
 'Citilink',
 'CityJet',
 'Coastal Aviation',
 'Cobalt',
 'Comair',
 'Condor Airlines',
 'Conviasa',
 'Copa Airlines',
 'Corendon Airlines',
 'Corsair',
 'Croatia Airlines',
 'Cubana Airlines',
 'Cyprus Airways',
 'Delta Air Lines',
 'Dimonim Air',
 'Dniproavia',
 'Dragonair',
 'Druk Air',
 'Dynamic International Airways',
 'EVA Air',
 'EWA Air',
 'Eastern Airlines',
 'Eastern Airways',
 'Easyfly',
 'Edelweiss Air',
 'Egyptair',
 'El Al Israel Airlines',
 'Ellinair',
 'Emirates',
 'Eritrean Airlines',
 'Ernest Airlines',
 'Estonian Air',
 'Eswatini Air',
 'Ethiopian Airlines',
 'Etihad Airways',
 'Europe Airpost',
 'Eurowings',
 'Evelop Airlines',
 'FLYONE',
 'FMI Air',
 'Felix Airways',
 'Fiji Airways',
 'Finnair',
 'Firefly',
 'Flair Airlines',
 'Fly540.com',
 'FlyArystan',
 'FlySafair',
 'Flynas',
 'French Bee',
 'Frontier Airlines',
 'Garuda Indonesia',
 'Georgian Airways',
 'Germania Airline',
 'Germanwings',
 'Go First',
 'GoAir',
 'Golden Myanmar Airlines',
 'Grand Cru Airlines',
 'Greater Bay Airlines',
 'Gulf Air',
 'HOP!',
 'Hainan Airlines',
 'Hawaiian Airlines',
 'Henan Airlines',
 'Hi Fly',
 'HiSky',
 'Himalaya Airlines',
 'Hong Kong Airlines',
 'Horizon Air',
 'Hunnu Air',
 'ITA Airways',
 'Iberia',
 'Iberia Express',
 'Iberojet',
 'Icelandair',
 'Insel Air',
 'InterSky',
 'Intercaribbean Airways',
 'Interjet',
 'Iran Air',
 'Iraqi Airways',
 'Israir Airlines',
 'JC International Airlines',
 'Japan Airlines',
 'Jazeera Airways',
 'Jazz',
 'Jeju Air',
 'Jet Airways',
 'Jet2.com',
 'JetSmart',
 'Jetairfly',
 'Jetblue Airways',
 'Jetstar Airways',
 'Jetstar Asia',
 'Jetstar Japan',
 'Jetstar Pacific',
 'JetsuiteX',
 'Jin Air',
 'Joon',
 'Jordan Aviation',
 'KD Air',
 'KLM Royal Dutch Airlines',
 'Kam Air',
 'Kan Air',
 'Karthago Airlines',
 'Kenya Airways',
 'Korean Air',
 'Kulula',
 'Kuwait Airways',
 'LAN Airlines',
 'LAN Colombia',
 'LAN Peru',
 'LATAM Airlines',
 'LC Perú',
 'LIAT',
 'LOT Polish Airlines',
 'La Compagnie',
 'Lao Airlines',
 'Laudamotion',
 'Level',
 'Libyan Airlines',
 'Lion Air',
 'Loch Lomond Seaplanes',
 'Loganair',
 'Lubeck Air',
 'Lucky Air',
 'Lufthansa',
 'Luxair',
 'Lynx Air',
 'MAYAir',
 'MEGA Maldives Airlines',
 'Mack Air',
 'Madagasikara Airways',
 'Mahan Air',
 'Malawian Airlines',
 'Malaysia Airlines',
 'Maldivian',
 'Malindo Air',
 'Mandarin Airlines',
 'Mann Yadanarpon Airlines',
 'Manta Air',
 'Martinair',
 'Mauritania Airlines',
 'Maya Island Air',
 'Meridiana',
 'Mihin Lanka',
 'Mokulele Airlines',
 'Moldavian Airlines',
 'Monarch Airlines',
 'Montenegro Airlines',
 'Motor Sich Airlines',
 'Myanmar Airways',
 'Myanmar National Airlines',
 'NAM Air',
 'NIKI',
 'Nature Air',
 'Nauru Airlines',
 'Nepal Airlines',
 'NextJet',
 'Nile Air',
 'Nok Air',
 'NokScoot',
 'NordStar',
 'Nordavia',
 'Nordic Regional Airlines',
 'Nordica',
 'Nordwind Airlines',
 'Norse Atlantic Airways',
 'Norwegian',
 'Nouvelair',
 'Novair',
 'Novoair',
 'Okay Airways',
 'Olympic Air',
 'Oman Air',
 'Omni Air International',
 'Onur Air',
 'Openskies',
 'PAL Express',
 'PAWA Dominicana',
 'PLAY',
 'Pacific Airlines',
 'Pan Pacific Airlines',
 'Passion Air',
 'Peach Aviation',
 'Pegasus Airlines',
 'PenAir',
 'Peruvian Airlines',
 'Petroleum Air Services',
 'Philippine Airlines',
 'Phuket Air',
 'Pobeda Airlines',
 'Porter Airlines',
 'Primera Air',
 'Privilege Style',
 'Qantas Airways',
 'QantasLink',
 'Qatar Airways',
 'Qazaq Air',
 'Ravn Alaska',
 'Red Wings Airlines',
 'Regent Airways',
 'Regional Express',
 'Rex Airlines',
 'Rhein-Neckar Air',
 'Rossiya Airlines',
 'Royal Air Maroc',
 'Royal Brunei Airlines',
 'Royal Jordanian Airlines',
 'Rwandair',
 'Ryanair',
 'S7 Siberia Airlines',
 'SA Express',
 'SATA Air Azores',
 'SATENA',
 'SCAT Airlines',
 'SVG Air',
 'Safarilink',
 'Safi Airways',
 'Salam Air',
 'Sansa Airlines',
 'Saudi Arabian Airlines',
 'Scoot',
 'Seaborne Airlines',
 'SereneAir',
 'Shaheen Air',
 'Shandong Airlines',
 'Shanghai Airlines',
 'Shenzhen Airlines',
 'Sichuan Airlines',
 'SilkAir',
 'Silver Airways',
 'Singapore Airlines',
 'Sky Airline',
 'Sky Express Airlines',
 'SkyUp Airlines',
 'SkyWest Airlines',
 'SkyWork Airlines',
 'Skybus',
 'Skymark Airlines',
 'Skytrans Airlines',
 'SmartLynx Airlines',
 'SmartWings',
 'Smartavia',
 'Sol Líneas Aéreas',
 'Solomon Airlines',
 'Somon Air',
 'South African Airways',
 'Southwest Airlines',
 'SpiceJet',
 'Spirit Airlines',
 'SriLankan Airlines',
 'Sriwijaya Air',
 'StarFlyer',
 'Sudan Airways',
 'Sun Country Airlines',
 'Sun-Air',
 'Sunwing Airlines',
 'Suparna Airlines',
 'Super Air Jet',
 'Surinam Airways',
 'Swoop',
 'SyrianAir',
 "T'Way Air",
 'TAAG Angola Airlines',
 'TACA Regional',
 'TAG Airlines',
 'TAM Airlines',
 'TAME',
 'TAP Portugal',
 'TAR Aerolineas',
 'TUI Airways',
 'TUIfly',
 'TUIfly Nordic',
 'TUS Airways',
 'Tailwind Airlines',
 'Tame Línea Aérea Del Ecuador',
 'Thai AirAsia',
 'Thai Airways',
 'Thai Lion Air',
 'Thai Smile Airways',
 'Thomas Cook Airlines',
 'Thomas Cook Airlines Scandinavia',
 'Thomson Airways',
 'Tianjin Airlines',
 'Tibet Airlines',
 'Tigerair',
 'Tigerair Australia',
 'Tigerair Taiwan',
 'Titan Airways',
 'TransAsia Airways',
 'TransNusa',
 'Transaero Airlines',
 'Transavia',
 'Trigana Air',
 'Tropic Air Belize',
 'Tunisair',
 'Turkish Airlines',
 'Turkmenistan Airlines',
 'UP by El Al',
 'US Airways',
 'US-Bangla Airlines',
 'Uganda Airlines',
 'Ultra Air',
 'United Airlines',
 'Ural Airlines',
 'Utair Aviation',
 'Uzbekistan Airways',
 'V Air',
 'VLM Airlines',
 'Vanilla Air',
 'ViaAir',
 'Vietnam Airlines',
 'Virgin America',
 'Virgin Australia',
 'Vistara',
 'Viva Air',
 'VivaAerobús',
 'VivaColombia',
 'Volaris',
 'Volotea',
 'Voyage Air',
 'Vueling Airlines',
 'WOW air',
 'Wamos Air',
 'Wideroe',
 'Winair',
 'Wingo',
 'Wings Air',
 'Wizz Air',
 'World2Fly',
 'XL Airways France',
 'Xiamen Airlines',
 'Yakutia Airlines',
 'Yangon Airways',
 'Yemenia',
 'Yeti Airlines',
 'ZIPAIR',
 'Zambia Airways',
 'airBaltic',
 'bmi Regional',
 'easyJet',
 'euroAtlantic Airways',
 'fastjet',
 'flyadeal',
 'flybe',
 'flydubai'}

In [11]:
review_df = origin_df.copy()

In [12]:
review_recommended = []
for value in origin_df['Recommended']:
    if value == 'yes':
        review_recommended.append(True)
    else:
        review_recommended.append(False)
print(set(review_recommended))

{False, True}

In [13]:
review_df['Recommended'] = review_recommended

In [14]:
review_df

,Unnamed: 0,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,True
1,1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,False
2,2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,False
3,3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,False
4,4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23166,23166,ZIPAIR,1,"""customer service is terrible""",5th July 2022,False,Bangkok to Tokyo. I’ve flown many low cost ai...,NaN,Couple Leisure,Economy Class,Bangkok to Tokyo,June 2022,2.0,1.0,NaN,1.0,1.0,1.0,1.0,False
23167,23167,ZIPAIR,1,"""Avoid at all costs""",1st June 2022,True,Avoid at all costs. I booked flights to go f...,NaN,Solo Leisure,Economy Class,Singapore to Tokyo,June 2022,NaN,NaN,NaN,NaN,NaN,NaN,1.0,False
23168,23168,ZIPAIR,3,"""Will not recommend to anyone""",31st May 2022,True,Flight was leaving at 23.15 and after an hou...,NaN,Business,Economy Class,Bangkok to Tokyo,May 2022,2.0,4.0,2.0,1.0,NaN,NaN,2.0,False
23169,23169,ZIPAIR,6,"""It was immaculately clean""",23rd May 2022,True,Zipair is JAL’s budget airline. They don’t ha...,Dreamliner,Business,Business Class,Tokyo to Los Angeles,May 2022,3.0,4.0,3.0,1.0,2.0,5.0,5.0,True
23170,23170,ZIPAIR,1,"""lost all of our money with no refund""",20th May 2022,True,They lied about connection in Narita and we ...,NaN,Solo Leisure,Economy Class,Singapore to Tokyo,May 2022,NaN,NaN,NaN,1.0,NaN,NaN,1.0,False

In [17]:
review_df.dropna(subset = ['Route', 'Date Flown'], inplace = True)

review_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19331 entries, 0 to 23170
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              19331 non-null  int64
 1   Airline Name            19331 non-null  object
 2   Overall_Rating          19331 non-null  object
 3   Review_Title            19331 non-null  object
 4   Review Date             19331 non-null  object
 5   Verified                19331 non-null  bool
 6   Review                  19331 non-null  object
 7   Aircraft                7116 non-null   object
 8   Type Of Traveller       19330 non-null  object
 9   Seat Type               19328 non-null  object
 10  Route                   19331 non-null  object
 11  Date Flown              19331 non-null  object
 12  Seat Comfort            17562 non-null  float64
 13  Cabin Staff Service     17457 non-null  float64
 14  Food & Beverages        13067 non-null  float64
 15  Ground Service          18308 non-null  float64
 16  Inflight Entertainment  9436 non-null   float64
 17  Wifi & Connectivity     5892 non-null   float64
 18  Value For Money         19330 non-null  float64
 19  Recommended             19331 non-null  bool
dtypes: bool(2), float64(7), int64(1), object(10)
memory usage: 2.8+ MB

In [19]:
review_df['Aircraft'].fillna('NA', inplace = True)
review_df['Type Of Traveller'].fillna('NA', inplace = True)
review_df['Seat Type'].fillna('NA', inplace = True)
review_df['Seat Comfort'].fillna(-1, inplace = True)
review_df['Cabin Staff Service'].fillna(-1, inplace = True)
review_df['Food & Beverages'].fillna(-1, inplace = True)
review_df['Ground Service'].fillna(-1, inplace = True)
review_df['Inflight Entertainment'].fillna(-1, inplace = True)
review_df['Wifi & Connectivity'].fillna(-1, inplace = True)
review_df['Value For Money'].fillna(-1, inplace = True)

review_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19331 entries, 0 to 23170
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              19331 non-null  int64
 1   Airline Name            19331 non-null  object
 2   Overall_Rating          19331 non-null  object
 3   Review_Title            19331 non-null  object
 4   Review Date             19331 non-null  object
 5   Verified                19331 non-null  bool
 6   Review                  19331 non-null  object
 7   Aircraft                19331 non-null  object
 8   Type Of Traveller       19331 non-null  object
 9   Seat Type               19331 non-null  object
 10  Route                   19331 non-null  object
 11  Date Flown              19331 non-null  object
 12  Seat Comfort            19331 non-null  float64
 13  Cabin Staff Service     19331 non-null  float64
 14  Food & Beverages        19331 non-null  float64
 15  Ground Service          19331 non-null  float64
 16  Inflight Entertainment  19331 non-null  float64
 17  Wifi & Connectivity     19331 non-null  float64
 18  Value For Money         19331 non-null  float64
 19  Recommended             19331 non-null  bool
dtypes: bool(2), float64(7), int64(1), object(10)
memory usage: 2.8+ MB

In [23]:
tmp = {'Seat Comfort': [], 'Cabin Staff Service': [], 'Food & Beverages': [], 'Ground Service': [], 'Inflight Entertainment': [], 'Wifi & Connectivity': [], 'Value For Money': []}
for key in ['Seat Comfort', 'Cabin Staff Service', 'Food & Beverages', 'Ground Service', 'Inflight Entertainment', 'Wifi & Connectivity', 'Value For Money']:
    for value in review_df[key]:
        tmp[key].append(int(value))
    review_df[key] = tmp[key]

review_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19331 entries, 0 to 23170
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              19331 non-null  int64
 1   Airline Name            19331 non-null  object
 2   Overall_Rating          19331 non-null  object
 3   Review_Title            19331 non-null  object
 4   Review Date             19331 non-null  object
 5   Verified                19331 non-null  bool
 6   Review                  19331 non-null  object
 7   Aircraft                19331 non-null  object
 8   Type Of Traveller       19331 non-null  object
 9   Seat Type               19331 non-null  object
 10  Route                   19331 non-null  object
 11  Date Flown              19331 non-null  object
 12  Seat Comfort            19331 non-null  int64
 13  Cabin Staff Service     19331 non-null  int64
 14  Food & Beverages        19331 non-null  int64
 15  Ground Service          19331 non-null  int64
 16  Inflight Entertainment  19331 non-null  int64
 17  Wifi & Connectivity     19331 non-null  int64
 18  Value For Money         19331 non-null  int64
 19  Recommended             19331 non-null  bool
dtypes: bool(2), int64(8), object(10)
memory usage: 2.8+ MB

In [26]:
review_id = []
for value in review_df['Unnamed: 0']:
    review_id.append(f'{value:X>10}')
review_df['Unnamed: 0'] = review_id

review_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19331 entries, 0 to 23170
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              19331 non-null  object
 1   Airline Name            19331 non-null  object
 2   Overall_Rating          19331 non-null  object
 3   Review_Title            19331 non-null  object
 4   Review Date             19331 non-null  object
 5   Verified                19331 non-null  bool
 6   Review                  19331 non-null  object
 7   Aircraft                19331 non-null  object
 8   Type Of Traveller       19331 non-null  object
 9   Seat Type               19331 non-null  object
 10  Route                   19331 non-null  object
 11  Date Flown              19331 non-null  object
 12  Seat Comfort            19331 non-null  int64
 13  Cabin Staff Service     19331 non-null  int64
 14  Food & Beverages        19331 non-null  int64
 15  Ground Service          19331 non-null  int64
 16  Inflight Entertainment  19331 non-null  int64
 17  Wifi & Connectivity     19331 non-null  int64
 18  Value For Money         19331 non-null  int64
 19  Recommended             19331 non-null  bool
dtypes: bool(2), int64(7), object(11)
memory usage: 2.8+ MB

In [29]:
set(review_df['Overall_Rating'])

{'1', '2', '3', '4', '5', '6', '7', '8', '9'}

In [30]:
overall_rating = []
for value in review_df['Overall_Rating']:
    overall_rating.append(int(value))
review_df['Overall_Rating'] = overall_rating

review_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19331 entries, 0 to 23170
Data columns (total 20 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              19331 non-null  object
 1   Airline Name            19331 non-null  object
 2   Overall_Rating          19331 non-null  int64
 3   Review_Title            19331 non-null  object
 4   Review Date             19331 non-null  object
 5   Verified                19331 non-null  bool
 6   Review                  19331 non-null  object
 7   Aircraft                19331 non-null  object
 8   Type Of Traveller       19331 non-null  object
 9   Seat Type               19331 non-null  object
 10  Route                   19331 non-null  object
 11  Date Flown              19331 non-null  object
 12  Seat Comfort            19331 non-null  int64
 13  Cabin Staff Service     19331 non-null  int64
 14  Food & Beverages        19331 non-null  int64
 15  Ground Service          19331 non-null  int64
 16  Inflight Entertainment  19331 non-null  int64
 17  Wifi & Connectivity     19331 non-null  int64
 18  Value For Money         19331 non-null  int64
 19  Recommended             19331 non-null  bool
dtypes: bool(2), int64(8), object(10)
memory usage: 2.8+ MB

In [36]:
len(review_df)

19331

In [37]:
# 生成随机用户名的函数
def generate_username():
    while True:
        # 生成一个随机用户名，可以根据需要自定义生成规则
        username = random.choice(string.ascii_uppercase)
        username += ''.join(random.choice(string.ascii_uppercase + '23456789') for _ in range(7))
        # 检查用户名是否已经存在
        if username not in used_usernames:
            used_usernames.add(username)
            return username


used_usernames = set()
# 为每一行添加用户名列
review_df['passenger id'] = [generate_username() for _ in range(len(review_df))]

review_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19331 entries, 0 to 23170
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              19331 non-null  object
 1   Airline Name            19331 non-null  object
 2   Overall_Rating          19331 non-null  int64
 3   Review_Title            19331 non-null  object
 4   Review Date             19331 non-null  object
 5   Verified                19331 non-null  bool
 6   Review                  19331 non-null  object
 7   Aircraft                19331 non-null  object
 8   Type Of Traveller       19331 non-null  object
 9   Seat Type               19331 non-null  object
 10  Route                   19331 non-null  object
 11  Date Flown              19331 non-null  object
 12  Seat Comfort            19331 non-null  int64
 13  Cabin Staff Service     19331 non-null  int64
 14  Food & Beverages        19331 non-null  int64
 15  Ground Service          19331 non-null  int64
 16  Inflight Entertainment  19331 non-null  int64
 17  Wifi & Connectivity     19331 non-null  int64
 18  Value For Money         19331 non-null  int64
 19  Recommended             19331 non-null  bool
 20  passenger id            19331 non-null  object
dtypes: bool(2), int64(8), object(11)
memory usage: 3.0+ MB

In [39]:
review_df

,Unnamed: 0,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,...,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended,passenger id
0,XXXXXXXXX0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NA,Solo Leisure,Economy Class,...,November 2019,4,5,4,4,-1,-1,3,True,OPCN6ETD
1,XXXXXXXXX1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,...,June 2019,2,2,1,1,-1,-1,2,False,JSIDOPAO
2,XXXXXXXXX2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,...,June 2019,2,1,1,1,-1,-1,2,False,T3ZD5GXA
3,XXXXXXXXX3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NA,Solo Leisure,Economy Class,...,September 2019,1,1,-1,1,-1,-1,1,False,MN2E7R5L
4,XXXXXXXXX4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NA,Couple Leisure,Economy Class,...,September 2019,1,1,1,1,1,1,1,False,UEAUI9G2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23166,XXXXX23166,ZIPAIR,1,"""customer service is terrible""",5th July 2022,False,Bangkok to Tokyo. I’ve flown many low cost ai...,NA,Couple Leisure,Economy Class,...,June 2022,2,1,-1,1,1,1,1,False,N86BJ5FM
23167,XXXXX23167,ZIPAIR,1,"""Avoid at all costs""",1st June 2022,True,Avoid at all costs. I booked flights to go f...,NA,Solo Leisure,Economy Class,...,June 2022,-1,-1,-1,-1,-1,-1,1,False,Y9X4ORJ6
23168,XXXXX23168,ZIPAIR,3,"""Will not recommend to anyone""",31st May 2022,True,Flight was leaving at 23.15 and after an hou...,NA,Business,Economy Class,...,May 2022,2,4,2,1,-1,-1,2,False,REG73CZS
23169,XXXXX23169,ZIPAIR,6,"""It was immaculately clean""",23rd May 2022,True,Zipair is JAL’s budget airline. They don’t ha...,Dreamliner,Business,Business Class,...,May 2022,3,4,3,1,2,5,5,True,M7MQ9IOI
23170,XXXXX23170,ZIPAIR,1,"""lost all of our money with no refund""",20th May 2022,True,They lied about connection in Narita and we ...,NA,Solo Leisure,Economy Class,...,May 2022,-1,-1,-1,1,-1,-1,1,False,XC7AIBSO

In [40]:
review_df.to_csv('./new_df1009.csv', index = False)

In [42]:
review_df['gender'] = [random.choice(['MALE', 'FEMALE']) for _ in range(len(review_df))]

review_df['gender']

0          MALE
1          MALE
2        FEMALE
3        FEMALE
4        FEMALE
          ...
23166      MALE
23167      MALE
23168    FEMALE
23169    FEMALE
23170      MALE
Name: gender, Length: 19331, dtype: object

In [47]:
review_df['age'] = [random.choice(range(13, random.choice([25, 30, 30, 35, 40, 50, 55, 65]))) for _ in range(len(review_df))]

review_df['age']

0        37
1        25
2        42
3        35
4        23
         ..
23166    28
23167    17
23168    51
23169    23
23170    13
Name: age, Length: 19331, dtype: int64

In [48]:
review_df.to_csv('./new_df1009.csv', index = False)

In [49]:
review_df

,Unnamed: 0,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,...,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended,passenger id,gender,age
0,XXXXXXXXX0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NA,Solo Leisure,Economy Class,...,5,4,4,-1,-1,3,True,OPCN6ETD,MALE,37
1,XXXXXXXXX1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,...,2,1,1,-1,-1,2,False,JSIDOPAO,MALE,25
2,XXXXXXXXX2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,...,1,1,1,-1,-1,2,False,T3ZD5GXA,FEMALE,42
3,XXXXXXXXX3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NA,Solo Leisure,Economy Class,...,1,-1,1,-1,-1,1,False,MN2E7R5L,FEMALE,35
4,XXXXXXXXX4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NA,Couple Leisure,Economy Class,...,1,1,1,1,1,1,False,UEAUI9G2,FEMALE,23
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23166,XXXXX23166,ZIPAIR,1,"""customer service is terrible""",5th July 2022,False,Bangkok to Tokyo. I’ve flown many low cost ai...,NA,Couple Leisure,Economy Class,...,1,-1,1,1,1,1,False,N86BJ5FM,MALE,28
23167,XXXXX23167,ZIPAIR,1,"""Avoid at all costs""",1st June 2022,True,Avoid at all costs. I booked flights to go f...,NA,Solo Leisure,Economy Class,...,-1,-1,-1,-1,-1,1,False,Y9X4ORJ6,MALE,17
23168,XXXXX23168,ZIPAIR,3,"""Will not recommend to anyone""",31st May 2022,True,Flight was leaving at 23.15 and after an hou...,NA,Business,Economy Class,...,4,2,1,-1,-1,2,False,REG73CZS,FEMALE,51
23169,XXXXX23169,ZIPAIR,6,"""It was immaculately clean""",23rd May 2022,True,Zipair is JAL’s budget airline. They don’t ha...,Dreamliner,Business,Business Class,...,4,3,1,2,5,5,True,M7MQ9IOI,FEMALE,23
23170,XXXXX23170,ZIPAIR,1,"""lost all of our money with no refund""",20th May 2022,True,They lied about connection in Narita and we ...,NA,Solo Leisure,Economy Class,...,-1,-1,1,-1,-1,1,False,XC7AIBSO,MALE,13

In [51]:
review_content = []
for value in review_df['Review']:
    review_content.append(value.strip())
review_df['Review'] = review_content

review_df['Review']

0        Moroni to Moheli. Turned out to be a pretty de...
1        Moroni to Anjouan. It is a very small airline....
2        Anjouan to Dzaoudzi. A very small airline and ...
3        Please do a favor yourself and do not fly with...
4        Do not book a flight with this airline! My fri...
                               ...
23166    Bangkok to Tokyo. I’ve flown many low cost air...
23167    Avoid at all costs. I booked flights to go fro...
23168    Flight was leaving at 23.15 and after an hour ...
23169    Zipair is JAL’s budget airline. They don’t hav...
23170    They lied about connection in Narita and we lo...
Name: Review, Length: 19331, dtype: object

In [52]:
review_df.to_csv('./new_df1009.csv', index = False)

In [53]:
title_content = []
for value in review_df['Review_Title']:
    title_content.append(value.strip().strip('\"').strip().strip('\"').strip().strip('\"'))
review_df['Review_Title'] = title_content

review_df['Review_Title']

0                       pretty decent airline
1                          Not a good airline
2                flight was fortunately short
3           I will never fly again with Adria
4         it ruined our last days of holidays
                         ...
23166            customer service is terrible
23167                      Avoid at all costs
23168            Will not recommend to anyone
23169               It was immaculately clean
23170    lost all of our money with no refund
Name: Review_Title, Length: 19331, dtype: object

In [54]:
review_df.to_csv('./new_df1009.csv', index = False)

In [55]:
review_content = []
for value in review_df['Review']:
    review_content.append(value.strip('\"').replace('\r',' ').replace('\n', ' '))
review_df['Review'] = review_content

review_df['Review']

0        Moroni to Moheli. Turned out to be a pretty de...
1        Moroni to Anjouan. It is a very small airline....
2        Anjouan to Dzaoudzi. A very small airline and ...
3        Please do a favor yourself and do not fly with...
4        Do not book a flight with this airline! My fri...
                               ...
23166    Bangkok to Tokyo. I’ve flown many low cost air...
23167    Avoid at all costs. I booked flights to go fro...
23168    Flight was leaving at 23.15 and after an hour ...
23169    Zipair is JAL’s budget airline. They don’t hav...
23170    They lied about connection in Narita and we lo...
Name: Review, Length: 19331, dtype: object

In [56]:
review_df.to_csv('./new_df1009.csv', index = False)

In [60]:
review_df = pd.read_csv('new_df1009.csv')

In [62]:
review_df.drop(review_df.index[10170-2], inplace = True)

In [63]:
review_df.to_csv('./new_df1009.csv', index = False)

In [64]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19330 entries, 0 to 19330
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              19330 non-null  object
 1   Airline Name            19330 non-null  object
 2   Overall_Rating          19330 non-null  int64
 3   Review_Title            19329 non-null  object
 4   Review Date             19330 non-null  object
 5   Verified                19330 non-null  bool
 6   Review                  19330 non-null  object
 7   Aircraft                7115 non-null   object
 8   Type Of Traveller       19329 non-null  object
 9   Seat Type               19327 non-null  object
 10  Route                   19330 non-null  object
 11  Date Flown              19330 non-null  object
 12  Seat Comfort            19330 non-null  int64
 13  Cabin Staff Service     19330 non-null  int64
 14  Food & Beverages        19330 non-null  int64
 15  Ground Service          19330 non-null  int64
 16  Inflight Entertainment  19330 non-null  int64
 17  Wifi & Connectivity     19330 non-null  int64
 18  Value For Money         19330 non-null  int64
 19  Recommended             19330 non-null  bool
 20  passenger id            19330 non-null  object
 21  gender                  19330 non-null  object
 22  age                     19330 non-null  int64
dtypes: bool(2), int64(9), object(12)
memory usage: 3.3+ MB

In [68]:
review_df = pd.read_csv('new_df1009.csv')
# review_df

In [69]:
review_df['Aircraft'].fillna('NONE', inplace = True)
review_df['Type Of Traveller'].fillna('NONE', inplace = True)
review_df['Seat Type'].fillna('NONE', inplace = True)

review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19330 entries, 0 to 19329
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              19330 non-null  object
 1   Airline Name            19330 non-null  object
 2   Overall_Rating          19330 non-null  int64
 3   Review_Title            19329 non-null  object
 4   Review Date             19330 non-null  object
 5   Verified                19330 non-null  bool
 6   Review                  19330 non-null  object
 7   Aircraft                19330 non-null  object
 8   Type Of Traveller       19330 non-null  object
 9   Seat Type               19330 non-null  object
 10  Route                   19330 non-null  object
 11  Date Flown              19330 non-null  object
 12  Seat Comfort            19330 non-null  int64
 13  Cabin Staff Service     19330 non-null  int64
 14  Food & Beverages        19330 non-null  int64
 15  Ground Service          19330 non-null  int64
 16  Inflight Entertainment  19330 non-null  int64
 17  Wifi & Connectivity     19330 non-null  int64
 18  Value For Money         19330 non-null  int64
 19  Recommended             19330 non-null  bool
 20  passenger id            19330 non-null  object
 21  gender                  19330 non-null  object
 22  age                     19330 non-null  int64
dtypes: bool(2), int64(9), object(12)
memory usage: 3.1+ MB

In [70]:
review_df.dropna(subset = ['Review_Title'], inplace = True)

review_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19329 entries, 0 to 19329
Data columns (total 23 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              19329 non-null  object
 1   Airline Name            19329 non-null  object
 2   Overall_Rating          19329 non-null  int64
 3   Review_Title            19329 non-null  object
 4   Review Date             19329 non-null  object
 5   Verified                19329 non-null  bool
 6   Review                  19329 non-null  object
 7   Aircraft                19329 non-null  object
 8   Type Of Traveller       19329 non-null  object
 9   Seat Type               19329 non-null  object
 10  Route                   19329 non-null  object
 11  Date Flown              19329 non-null  object
 12  Seat Comfort            19329 non-null  int64
 13  Cabin Staff Service     19329 non-null  int64
 14  Food & Beverages        19329 non-null  int64
 15  Ground Service          19329 non-null  int64
 16  Inflight Entertainment  19329 non-null  int64
 17  Wifi & Connectivity     19329 non-null  int64
 18  Value For Money         19329 non-null  int64
 19  Recommended             19329 non-null  bool
 20  passenger id            19329 non-null  object
 21  gender                  19329 non-null  object
 22  age                     19329 non-null  int64
dtypes: bool(2), int64(9), object(12)
memory usage: 3.3+ MB

In [71]:
review_df.to_csv('./new_df1009.csv', index = False)

In [72]:
r = redis.Redis(host = '192.168.0.103', port = 6379, db = 1)

In [73]:
r.keys()

[b'FLIGHT', b'AIRLINE', b'PASSENGER', b'REVIEW']

In [74]:
# 遍历 DataFrame 中的每一行
for index, row in review_df.iterrows():
    # 将每一行数据转换为字典
    row_dict = row.to_dict()
    
    # 使用 json.dumps() 将字典转换为 JSON 字符串
    json_string = json.dumps(row_dict)
    
    r.rpush('REVIEW', json_string)