In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('Airline_review.csv')
df

,Unnamed: 0,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,Route,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended
0,0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,Moroni to Moheli,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes
1,1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,Moroni to Anjouan,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no
2,2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,Anjouan to Dzaoudzi,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no
3,3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,Frankfurt to Pristina,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no
4,4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,Sofia to Amsterdam via Ljubljana,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23166,23166,ZIPAIR,1,"""customer service is terrible""",5th July 2022,False,Bangkok to Tokyo. I’ve flown many low cost ai...,NaN,Couple Leisure,Economy Class,Bangkok to Tokyo,June 2022,2.0,1.0,NaN,1.0,1.0,1.0,1.0,no
23167,23167,ZIPAIR,1,"""Avoid at all costs""",1st June 2022,True,Avoid at all costs. I booked flights to go f...,NaN,Solo Leisure,Economy Class,Singapore to Tokyo,June 2022,NaN,NaN,NaN,NaN,NaN,NaN,1.0,no
23168,23168,ZIPAIR,3,"""Will not recommend to anyone""",31st May 2022,True,Flight was leaving at 23.15 and after an hou...,NaN,Business,Economy Class,Bangkok to Tokyo,May 2022,2.0,4.0,2.0,1.0,NaN,NaN,2.0,no
23169,23169,ZIPAIR,6,"""It was immaculately clean""",23rd May 2022,True,Zipair is JAL’s budget airline. They don’t ha...,Dreamliner,Business,Business Class,Tokyo to Los Angeles,May 2022,3.0,4.0,3.0,1.0,2.0,5.0,5.0,yes
23170,23170,ZIPAIR,1,"""lost all of our money with no refund""",20th May 2022,True,They lied about connection in Narita and we ...,NaN,Solo Leisure,Economy Class,Singapore to Tokyo,May 2022,NaN,NaN,NaN,1.0,NaN,NaN,1.0,no

In [3]:
df.shape

(23171, 20)

In [8]:
# 生成随机用户名的函数
import random
import string


def generate_username():
    while True:
        # 生成一个随机用户名，可以根据需要自定义生成规则
        username = random.choice(string.ascii_uppercase)
        username += ''.join(random.choice(string.ascii_uppercase + '23456789') for _ in range(7))

        # 检查用户名是否已经存在
        if username not in used_usernames:
            used_usernames.add(username)
            return username


used_usernames = set()

# 为每一行添加用户名列
df['Username'] = [generate_username() for _ in range(len(df))]
df

,Unnamed: 0,Airline Name,Overall_Rating,Review_Title,Review Date,Verified,Review,Aircraft,Type Of Traveller,Seat Type,...,Date Flown,Seat Comfort,Cabin Staff Service,Food & Beverages,Ground Service,Inflight Entertainment,Wifi & Connectivity,Value For Money,Recommended,Username
0,0,AB Aviation,9,"""pretty decent airline""",11th November 2019,True,Moroni to Moheli. Turned out to be a pretty ...,NaN,Solo Leisure,Economy Class,...,November 2019,4.0,5.0,4.0,4.0,NaN,NaN,3.0,yes,GMWPHXQN
1,1,AB Aviation,1,"""Not a good airline""",25th June 2019,True,Moroni to Anjouan. It is a very small airline...,E120,Solo Leisure,Economy Class,...,June 2019,2.0,2.0,1.0,1.0,NaN,NaN,2.0,no,WH7YMLOR
2,2,AB Aviation,1,"""flight was fortunately short""",25th June 2019,True,Anjouan to Dzaoudzi. A very small airline an...,Embraer E120,Solo Leisure,Economy Class,...,June 2019,2.0,1.0,1.0,1.0,NaN,NaN,2.0,no,F5B4DGPF
3,3,Adria Airways,1,"""I will never fly again with Adria""",28th September 2019,False,Please do a favor yourself and do not fly wi...,NaN,Solo Leisure,Economy Class,...,September 2019,1.0,1.0,NaN,1.0,NaN,NaN,1.0,no,CAXU6352
4,4,Adria Airways,1,"""it ruined our last days of holidays""",24th September 2019,True,Do not book a flight with this airline! My fr...,NaN,Couple Leisure,Economy Class,...,September 2019,1.0,1.0,1.0,1.0,1.0,1.0,1.0,no,FY29R839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23166,23166,ZIPAIR,1,"""customer service is terrible""",5th July 2022,False,Bangkok to Tokyo. I’ve flown many low cost ai...,NaN,Couple Leisure,Economy Class,...,June 2022,2.0,1.0,NaN,1.0,1.0,1.0,1.0,no,KUCPE5YD
23167,23167,ZIPAIR,1,"""Avoid at all costs""",1st June 2022,True,Avoid at all costs. I booked flights to go f...,NaN,Solo Leisure,Economy Class,...,June 2022,NaN,NaN,NaN,NaN,NaN,NaN,1.0,no,G4WQP5S9
23168,23168,ZIPAIR,3,"""Will not recommend to anyone""",31st May 2022,True,Flight was leaving at 23.15 and after an hou...,NaN,Business,Economy Class,...,May 2022,2.0,4.0,2.0,1.0,NaN,NaN,2.0,no,DAOPTLBP
23169,23169,ZIPAIR,6,"""It was immaculately clean""",23rd May 2022,True,Zipair is JAL’s budget airline. They don’t ha...,Dreamliner,Business,Business Class,...,May 2022,3.0,4.0,3.0,1.0,2.0,5.0,5.0,yes,H6RLO7JX
23170,23170,ZIPAIR,1,"""lost all of our money with no refund""",20th May 2022,True,They lied about connection in Narita and we ...,NaN,Solo Leisure,Economy Class,...,May 2022,NaN,NaN,NaN,1.0,NaN,NaN,1.0,no,CSA6RBK3

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 23171 entries, 0 to 23170
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              23171 non-null  int64
 1   Airline Name            23171 non-null  object
 2   Overall_Rating          23171 non-null  object
 3   Review_Title            23171 non-null  object
 4   Review Date             23171 non-null  object
 5   Verified                23171 non-null  bool
 6   Review                  23171 non-null  object
 7   Aircraft                7129 non-null   object
 8   Type Of Traveller       19433 non-null  object
 9   Seat Type               22075 non-null  object
 10  Route                   19343 non-null  object
 11  Date Flown              19417 non-null  object
 12  Seat Comfort            19016 non-null  float64
 13  Cabin Staff Service     18911 non-null  float64
 14  Food & Beverages        14500 non-null  float64
 15  Ground Service          18378 non-null  float64
 16  Inflight Entertainment  10829 non-null  float64
 17  Wifi & Connectivity     5920 non-null   float64
 18  Value For Money         22105 non-null  float64
 19  Recommended             23171 non-null  object
 20  Username                23171 non-null  object
dtypes: bool(1), float64(7), int64(1), object(12)
memory usage: 3.6+ MB

In [12]:
new_df = df.dropna(subset = ['Username', 'Route', 'Date Flown', 'Airline Name'], inplace = False)

In [18]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19331 entries, 0 to 23170
Data columns (total 21 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Unnamed: 0              19331 non-null  int64
 1   Airline Name            19331 non-null  object
 2   Overall_Rating          19331 non-null  object
 3   Review_Title            19331 non-null  object
 4   Review Date             19331 non-null  object
 5   Verified                19331 non-null  bool
 6   Review                  19331 non-null  object
 7   Aircraft                7116 non-null   object
 8   Type Of Traveller       19330 non-null  object
 9   Seat Type               19328 non-null  object
 10  Route                   19331 non-null  object
 11  Date Flown              19331 non-null  object
 12  Seat Comfort            17562 non-null  float64
 13  Cabin Staff Service     17457 non-null  float64
 14  Food & Beverages        13067 non-null  float64
 15  Ground Service          18308 non-null  float64
 16  Inflight Entertainment  9436 non-null   float64
 17  Wifi & Connectivity     5892 non-null   float64
 18  Value For Money         19330 non-null  float64
 19  Recommended             19331 non-null  object
 20  Username                19331 non-null  object
dtypes: bool(1), float64(7), int64(1), object(12)
memory usage: 3.1+ MB

In [19]:
type(new_df)

pandas.core.frame.DataFrame

In [22]:
new_df['Verified'][100]

False

In [23]:
import redis

In [38]:
# 创建一个Redis连接池
pool = redis.ConnectionPool(
    host = '10.25.168.127',  # Redis服务器地址
    port = 6379,  # Redis端口号
    db = 15,  # Redis数据库编号
    password = None,  # 如果需要密码，设置密码
    max_connections = 10  # 连接池中的最大连接数
)

# 使用连接池创建Redis连接
redis_client = redis.StrictRedis(connection_pool = pool)

In [39]:
redis_client.info()

{'redis_version': '3.2.12',
 'redis_git_sha1': 0,
 'redis_git_dirty': 0,
 'redis_build_id': '7897e7d0e13773f',
 'redis_mode': 'standalone',
 'os': 'Linux 3.10.0-1160.71.1.el7.x86_64 x86_64',
 'arch_bits': 64,
 'multiplexing_api': 'epoll',
 'gcc_version': '4.8.5',
 'process_id': 7382,
 'run_id': 'e6503af2754b2a9de0d3dc34cf09f1b3aebc3e42',
 'tcp_port': 6379,
 'uptime_in_seconds': 10836,
 'uptime_in_days': 0,
 'hz': 10,
 'lru_clock': 16196275,
 'executable': '/usr/bin/redis-server',
 'config_file': '/etc/redis.conf',
 'connected_clients': 3,
 'client_longest_output_list': 0,
 'client_biggest_input_buf': 0,
 'blocked_clients': 0,
 'used_memory': 854384,
 'used_memory_human': '834.36K',
 'used_memory_rss': 6057984,
 'used_memory_rss_human': '5.78M',
 'used_memory_peak': 931968,
 'used_memory_peak_human': '910.12K',
 'total_system_memory': 8131878912,
 'total_system_memory_human': '7.57G',
 'used_memory_lua': 37888,
 'used_memory_lua_human': '37.00K',
 'maxmemory': 0,
 'maxmemory_human': '0B',
 'maxmemory_policy': 'noeviction',
 'mem_fragmentation_ratio': 7.09,
 'mem_allocator': 'jemalloc-3.6.0',
 'loading': 0,
 'rdb_changes_since_last_save': 0,
 'rdb_bgsave_in_progress': 0,
 'rdb_last_save_time': 1693917855,
 'rdb_last_bgsave_status': 'ok',
 'rdb_last_bgsave_time_sec': 0,
 'rdb_current_bgsave_time_sec': -1,
 'aof_enabled': 0,
 'aof_rewrite_in_progress': 0,
 'aof_rewrite_scheduled': 0,
 'aof_last_rewrite_time_sec': -1,
 'aof_current_rewrite_time_sec': -1,
 'aof_last_bgrewrite_status': 'ok',
 'aof_last_write_status': 'ok',
 'total_connections_received': 52,
 'total_commands_processed': 1192,
 'instantaneous_ops_per_sec': 0,
 'total_net_input_bytes': 35970,
 'total_net_output_bytes': 117647,
 'instantaneous_input_kbps': 0.0,
 'instantaneous_output_kbps': 0.0,
 'rejected_connections': 0,
 'sync_full': 0,
 'sync_partial_ok': 0,
 'sync_partial_err': 0,
 'expired_keys': 0,
 'evicted_keys': 0,
 'keyspace_hits': 18,
 'keyspace_misses': 0,
 'pubsub_channels': 0,
 'pubsub_patterns': 0,
 'latest_fork_usec': 1148,
 'migrate_cached_sockets': 0,
 'role': 'master',
 'connected_slaves': 0,
 'master_repl_offset': 0,
 'repl_backlog_active': 0,
 'repl_backlog_size': 1048576,
 'repl_backlog_first_byte_offset': 0,
 'repl_backlog_histlen': 0,
 'used_cpu_sys': 6.42,
 'used_cpu_user': 2.86,
 'used_cpu_sys_children': 0.03,
 'used_cpu_user_children': 0.0,
 'cluster_enabled': 0}

In [40]:
redis_client.keys()

[]

In [27]:
type(new_df['Airline Name'])

pandas.core.series.Series

In [31]:
# passenger = pd.concat([new_df['Username'], new_df['Verified'], new_df['Type Of Traveller'], new_df['Seat Type']])
passenger = pd.DataFrame()
passenger['PASSENGER_ID'] = new_df['Username']
passenger['PASSENGER_VERIFIED'] = new_df['Verified']
passenger['PASSENGER_TRAVEL_TYPE'] = new_df['Type Of Traveller']
passenger['PASSENGER_SEAT_TYPE'] = new_df['Seat Type']
passenger

,PASSENGER_ID,PASSENGER_VERIFIED,PASSENGER_TRAVEL_TYPE,PASSENGER_SEAT_TYPE
0,GMWPHXQN,True,Solo Leisure,Economy Class
1,WH7YMLOR,True,Solo Leisure,Economy Class
2,F5B4DGPF,True,Solo Leisure,Economy Class
3,CAXU6352,False,Solo Leisure,Economy Class
4,FY29R839,True,Couple Leisure,Economy Class
...,...,...,...,...
23166,KUCPE5YD,False,Couple Leisure,Economy Class
23167,G4WQP5S9,True,Solo Leisure,Economy Class
23168,DAOPTLBP,True,Business,Economy Class
23169,H6RLO7JX,True,Business,Business Class
23170,CSA6RBK3,True,Solo Leisure,Economy Class

In [32]:
passenger.info()

<class 'pandas.core.frame.DataFrame'>
Index: 19331 entries, 0 to 23170
Data columns (total 4 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   PASSENGER_ID           19331 non-null  object
 1   PASSENGER_VERIFIED     19331 non-null  bool
 2   PASSENGER_TRAVEL_TYPE  19330 non-null  object
 3   PASSENGER_SEAT_TYPE    19328 non-null  object
dtypes: bool(1), object(3)
memory usage: 1.1+ MB

In [41]:
import pickle

In [42]:
redis_client.set(name = 'PASSENGER', value = pickle.dumps(passenger))

True

In [43]:
passenger_value = pickle.loads(redis_client.get(name = 'PASSENGER'))

In [44]:
passenger_value

,PASSENGER_ID,PASSENGER_VERIFIED,PASSENGER_TRAVEL_TYPE,PASSENGER_SEAT_TYPE
0,GMWPHXQN,True,Solo Leisure,Economy Class
1,WH7YMLOR,True,Solo Leisure,Economy Class
2,F5B4DGPF,True,Solo Leisure,Economy Class
3,CAXU6352,False,Solo Leisure,Economy Class
4,FY29R839,True,Couple Leisure,Economy Class
...,...,...,...,...
23166,KUCPE5YD,False,Couple Leisure,Economy Class
23167,G4WQP5S9,True,Solo Leisure,Economy Class
23168,DAOPTLBP,True,Business,Economy Class
23169,H6RLO7JX,True,Business,Business Class
23170,CSA6RBK3,True,Solo Leisure,Economy Class

In [46]:
type(pickle.dumps(passenger))

bytes