In [1]:
import math, redis, csv, json, random, string, pickle

import numpy as np
import pandas as pd

In [2]:
r = redis.Redis(host = 'localhost', port = 6379, db = 1)

In [3]:
r.keys()

[b'REVIEW', b'AIRLINE', b'PASSENGER', b'FLIGHT']

In [4]:
passenger_df = pd.read_csv(r'..\..\data_csv\AIRLINEREVIEWS_DB\PASSENGER.csv')

In [5]:
passenger_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19329 entries, 0 to 19328
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PSG_ID            19329 non-null  object
 1   PSG_VERIFIED      19329 non-null  bool
 2   PSG_AGE           19329 non-null  int64
 3   PSG_GENDER        19329 non-null  object
 4   PSG_TYPE          19329 non-null  object
 5   PSG_SEAT_TYPE     19329 non-null  object
 6   PSG_FLT_ARL_IATA  19329 non-null  object
 7   PSG_FLT_ROUTE     19329 non-null  object
 8   PSG_FLT_DATE      19329 non-null  object
dtypes: bool(1), int64(1), object(7)
memory usage: 1.2+ MB

In [6]:
# 遍历 DataFrame 中的每一行
for index, row in passenger_df.iterrows():
    # 将每一行数据转换为字典
    row_dict = row.to_dict()
    row_dict['PSG_FLT_TAG'] = {'PSG_FLT_ARL_IATA': row_dict['PSG_FLT_ARL_IATA'],
                               'PSG_FLT_ROUTE': row_dict['PSG_FLT_ROUTE'],
                               'PSG_FLT_DATE': row_dict['PSG_FLT_DATE']}
    del row_dict['PSG_FLT_ARL_IATA']
    del row_dict['PSG_FLT_ROUTE']
    del row_dict['PSG_FLT_DATE']
    
    # 使用 json.dumps() 将字典转换为 JSON 字符串
    json_string = json.dumps(row_dict)
    
    r.rpush('PASSENGER', json_string)

In [7]:
review_df = pd.read_csv(r'..\..\data_csv\AIRLINEREVIEWS_DB\REVIEW.csv')

In [8]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19329 entries, 0 to 19328
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REV_ID            19329 non-null  object
 1   REV_RECOMMENDED   19329 non-null  bool
 2   REV_TITLE         19329 non-null  object
 3   REV_CONTENT       19329 non-null  object
 4   REV_DATE          19329 non-null  object
 5   REV_RT_O          19329 non-null  int64
 6   REV_RT_SC         19329 non-null  int64
 7   REV_RT_CSS        19329 non-null  int64
 8   REV_RT_FB         19329 non-null  int64
 9   REV_RT_GS         19329 non-null  int64
 10  REV_RT_IE         19329 non-null  int64
 11  REV_RT_WC         19329 non-null  int64
 12  REV_RT_VFM        19329 non-null  int64
 13  REV_PSG_ID        19329 non-null  object
 14  REV_FLT_ARL_IATA  19329 non-null  object
 15  REV_FLT_ROUTE     19329 non-null  object
 16  REV_FLT_DATE      19329 non-null  object
dtypes: bool(1), int64(8), object(8)
memory usage: 2.4+ MB

In [9]:
# 遍历 DataFrame 中的每一行
for index, row in review_df.iterrows():
    # 将每一行数据转换为字典
    row_dict = row.to_dict()
    
    row_dict['REV_RT'] = {'REV_RT_O': row_dict['REV_RT_O'],
                          'REV_RT_SC': row_dict['REV_RT_SC'],
                          'REV_RT_CSS': row_dict['REV_RT_CSS'],
                          'REV_RT_FB': row_dict['REV_RT_FB'],
                          'REV_RT_GS': row_dict['REV_RT_GS'],
                          'REV_RT_IE': row_dict['REV_RT_IE'],
                          'REV_RT_WC': row_dict['REV_RT_WC'],
                          'REV_RT_VFM': row_dict['REV_RT_VFM']}
    del row_dict['REV_RT_O']
    del row_dict['REV_RT_SC']
    del row_dict['REV_RT_CSS']
    del row_dict['REV_RT_FB']
    del row_dict['REV_RT_GS']
    del row_dict['REV_RT_IE']
    del row_dict['REV_RT_WC']
    del row_dict['REV_RT_VFM']
    
    row_dict['REV_FLT_TAG'] = {'REV_FLT_ARL_IATA': row_dict['REV_FLT_ARL_IATA'],
                               'REV_FLT_ROUTE': row_dict['REV_FLT_ROUTE'],
                               'REV_FLT_DATE': row_dict['REV_FLT_DATE']}
    del row_dict['REV_FLT_ARL_IATA']
    del row_dict['REV_FLT_ROUTE']
    del row_dict['REV_FLT_DATE']
    
    # 使用 json.dumps() 将字典转换为 JSON 字符串
    json_string = json.dumps(row_dict)
    
    r.rpush('REVIEW', json_string)

In [10]:
flight_df = pd.read_csv(r'..\..\data_csv\AIRLINEREVIEWS_DB\FLIGHT.csv')

In [11]:
flight_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18819 entries, 0 to 18818
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FLT_ARL_IATA  18819 non-null  object
 1   FLT_ROUTE     18819 non-null  object
 2   FLT_DATE      18819 non-null  object
 3   FLT_AIRCRAFT  18819 non-null  object
dtypes: object(4)
memory usage: 588.2+ KB

In [12]:
# 遍历 DataFrame 中的每一行
for index, row in flight_df.iterrows():
    # 将每一行数据转换为字典
    row_dict = row.to_dict()
    row_dict['FLT_TAG'] = {'FLT_ARL_IATA': row_dict['FLT_ARL_IATA'],
                               'FLT_ROUTE': row_dict['FLT_ROUTE'],
                               'FLT_DATE': row_dict['FLT_DATE']}
    del row_dict['FLT_ARL_IATA']
    del row_dict['FLT_ROUTE']
    del row_dict['FLT_DATE']

    # 使用 json.dumps() 将字典转换为 JSON 字符串
    json_string = json.dumps(row_dict)

    r.rpush('FLIGHT', json_string)

In [13]:
airline_df = pd.read_csv(r'..\..\data_csv\AIRLINEREVIEWS_DB\AIRLINE.csv')

In [14]:
airline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467 entries, 0 to 466
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ARL_IATA       467 non-null    object
 1   ARL_ICAO       467 non-null    object
 2   ARL_NAME       467 non-null    object
 3   ARL_HQ_NATION  467 non-null    object
dtypes: object(4)
memory usage: 14.7+ KB

In [15]:
# 遍历 DataFrame 中的每一行
for index, row in airline_df.iterrows():
    # 将每一行数据转换为字典
    row_dict = row.to_dict()

    # 使用 json.dumps() 将字典转换为 JSON 字符串
    json_string = json.dumps(row_dict)

    r.rpush('AIRLINE', json_string)