In [1]:
import math, redis, csv, json, random, string, pickle

import numpy as np
import pandas as pd

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r'..\data_csv\new_df1109.csv')

df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19329 entries, 0 to 19328
Data columns (total 26 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   REV_ID           19329 non-null  object
 1   ARL_NAME         19329 non-null  object
 2   REV_RT_O         19329 non-null  int64
 3   REV_TITLE        19329 non-null  object
 4   REV_DATE         19329 non-null  object
 5   PSG_VERIFIED     19329 non-null  bool
 6   REV_CONTENT      19329 non-null  object
 7   FLT_AIRCRAFT     19329 non-null  object
 8   PSG_TYPE         19329 non-null  object
 9   PSG_SEAT_TYPE    19329 non-null  object
 10  FLT_ROUTE        19329 non-null  object
 11  FLT_DATE         19329 non-null  object
 12  REV_RT_SC        19329 non-null  int64
 13  REV_RT_CSS       19329 non-null  int64
 14  REV_RT_FB        19329 non-null  int64
 15  REV_RT_GS        19329 non-null  int64
 16  REV_RT_IE        19329 non-null  int64
 17  REV_RT_WC        19329 non-null  int64
 18  REV_RT_VFM       19329 non-null  int64
 19  REV_RECOMMENDED  19329 non-null  bool
 20  PSG_ID           19329 non-null  object
 21  PSG_GENDER       19329 non-null  object
 22  PSG_AGE          19329 non-null  int64
 23  ARL_IATA         19329 non-null  object
 24  ARL_ICAO         19329 non-null  object
 25  ARL_HQ_NATION    19329 non-null  object
dtypes: bool(2), int64(9), object(15)
memory usage: 3.6+ MB

In [3]:
# review_df = pd.DataFrame()
# 
# review_df['REV_ID'] = df['REV_ID']
# review_df['REV_RECOMMENDED'] = df['REV_RECOMMENDED']
# review_df['REV_TITLE'] = df['REV_TITLE']
# review_df['REV_CONTENT'] = df['REV_CONTENT']
# review_df['REV_DATE'] = df['REV_DATE']
# review_df['REV_RT_O'] = df['REV_RT_O']
# review_df['REV_RT_SC'] = df['REV_RT_SC']
# review_df['REV_RT_CSS'] = df['REV_RT_CSS']
# review_df['REV_RT_FB'] = df['REV_RT_FB']
# review_df['REV_RT_GS'] = df['REV_RT_GS']
# review_df['REV_RT_IE'] = df['REV_RT_IE']
# review_df['REV_RT_WC'] = df['REV_RT_WC']
# review_df['REV_RT_VFM'] = df['REV_RT_VFM']
# review_df['REV_PSG_ID'] = df['PSG_ID']
# review_df['REV_FLT_ARL_IATA'] = df['ARL_IATA']
# review_df['REV_FLT_ROUTE'] = df['FLT_ROUTE']
# review_df['REV_FLT_DATE'] = df['FLT_DATE']
# 
# review_df.info()

In [4]:
# review_df.to_csv(r'..\data_csv\REVIEW.csv', index = False)

In [5]:
# passenger_df = pd.DataFrame()
# 
# passenger_df['PSG_ID'] = df['PSG_ID']
# passenger_df['PSG_VERIFIED'] = df['PSG_VERIFIED']
# passenger_df['PSG_AGE'] = df['PSG_AGE']
# passenger_df['PSG_GENDER'] = df['PSG_GENDER']
# passenger_df['PSG_TYPE'] = df['PSG_TYPE']
# passenger_df['PSG_SEAT_TYPE'] = df['PSG_SEAT_TYPE']
# passenger_df['PSG_FLT_ARL_IATA'] = df['ARL_IATA']
# passenger_df['PSG_FLT_ROUTE'] = df['FLT_ROUTE']
# passenger_df['PSG_FLT_DATE'] = df['FLT_DATE']
# 
# passenger_df.info()

In [6]:
# passenger_df.to_csv(r'..\data_csv\PASSENGER.csv', index = False)

In [3]:
# print(len(df['ARL_IATA'].unique()))
# print(len(df['FLT_ROUTE'].unique()))
# print(len(df['FLT_DATE'].unique()))

467
13597
109

In [5]:
# flt_dict = {}
# iata = df['ARL_IATA'].to_list()
# route = df['FLT_ROUTE'].to_list()
# date = df['FLT_DATE'].to_list()
# aircraft = df['FLT_AIRCRAFT'].to_list()
# 
# for i in range(len(iata)):
#     flt_dict[iata[i] + route[i] + date[i]] = [iata[i], route[i], date[i], aircraft[i]]
# 
# len(flt_dict)

18819

In [6]:
# flight_df = pd.DataFrame()
# 
# flight_df['FLT_ARL_IATA'] = [flt_dict[key][0] for key in flt_dict.keys()]
# flight_df['FLT_ROUTE'] = [flt_dict[key][1] for key in flt_dict.keys()]
# flight_df['FLT_DATE'] = [flt_dict[key][2] for key in flt_dict.keys()]
# flight_df['FLT_AIRCRAFT'] = [flt_dict[key][3] for key in flt_dict.keys()]
# 
# flight_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18819 entries, 0 to 18818
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FLT_ARL_IATA  18819 non-null  object
 1   FLT_ROUTE     18819 non-null  object
 2   FLT_DATE      18819 non-null  object
 3   FLT_AIRCRAFT  18819 non-null  object
dtypes: object(4)
memory usage: 588.2+ KB

In [7]:
# flight_df.to_csv(r'..\data_csv\FLIGHT.csv', index = False)

In [8]:
# print(len(df['ARL_IATA'].unique()))
# print(len(df['ARL_ICAO'].unique()))
# print(len(df['ARL_NAME'].unique()))
# print(len(df['ARL_HQ_NATION'].unique()))

467
467
467
44

In [9]:
# arl_dict = {}
# iata = df['ARL_IATA'].to_list()
# icao = df['ARL_ICAO'].to_list()
# name = df['ARL_NAME'].to_list()
# nation = df['ARL_HQ_NATION'].to_list()
# 
# for i in range(len(iata)):
#     arl_dict[iata[i]] = [iata[i], icao[i], name[i], nation[i]]
# 
# len(arl_dict)

467

In [10]:
# airline_df = pd.DataFrame()
# 
# airline_df['ARL_IATA'] = [arl_dict[key][0] for key in arl_dict.keys()]
# airline_df['ARL_ICAO'] = [arl_dict[key][1] for key in arl_dict.keys()]
# airline_df['ARL_NAME'] = [arl_dict[key][2] for key in arl_dict.keys()]
# airline_df['ARL_HQ_NATION'] = [arl_dict[key][3] for key in arl_dict.keys()]
# 
# airline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467 entries, 0 to 466
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ARL_IATA       467 non-null    object
 1   ARL_ICAO       467 non-null    object
 2   ARL_NAME       467 non-null    object
 3   ARL_HQ_NATION  467 non-null    object
dtypes: object(4)
memory usage: 14.7+ KB

In [11]:
# airline_df.to_csv(r'..\data_csv\AIRLINE.csv', index = False)