# Uploading Data to MongoDB

In [1]:
from copy import deepcopy

import pandas as pd
import pymongo

In [2]:
m = pymongo.MongoClient("mongodb://root:891213@192.168.0.115:27017")['AIRLINEREVIEWS_DB']

In [3]:
m.list_collection_names()

['FLIGHT', 'REVIEW', 'AIRLINE', 'PASSENGER']

## PASSENGER

In [4]:
passenger_df = pd.read_csv(r'..\..\data_csv\AIRLINEREVIEWS_DB\PASSENGER.csv')

In [5]:
passenger_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19329 entries, 0 to 19328
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PSG_ID            19329 non-null  object
 1   PSG_VERIFIED      19329 non-null  bool
 2   PSG_AGE           19329 non-null  int64
 3   PSG_GENDER        19329 non-null  object
 4   PSG_TYPE          19329 non-null  object
 5   PSG_SEAT_TYPE     19329 non-null  object
 6   PSG_FLT_ARL_IATA  19329 non-null  object
 7   PSG_FLT_ROUTE     19329 non-null  object
 8   PSG_FLT_DATE      19329 non-null  object
dtypes: bool(1), int64(1), object(7)
memory usage: 1.2+ MB

In [6]:
big_ls = []
for index, row in passenger_df.iterrows():
    row_dict = row.to_dict()

    new_dict = dict()
    new_dict['PSG_ID'] = row_dict['PSG_ID']
    new_dict['PSG_VERIFIED'] = row_dict['PSG_VERIFIED']
    new_dict['PSG_AGE'] = row_dict['PSG_AGE']
    new_dict['PSG_GENDER'] = row_dict['PSG_GENDER']
    new_dict['PSG_TYPE'] = row_dict['PSG_TYPE']
    new_dict['PSG_SEAT_TYPE'] = row_dict['PSG_SEAT_TYPE']
    new_dict['PSG_FLT_TAG'] = {'PSG_FLT_ARL_IATA': row_dict['PSG_FLT_ARL_IATA'],
                               'PSG_FLT_ROUTE': row_dict['PSG_FLT_ROUTE'],
                               'PSG_FLT_DATE': row_dict['PSG_FLT_DATE']}

    big_ls.append(deepcopy(new_dict))

m_PSG = m['PASSENGER']
m_PSG.drop()

In [7]:
for row in big_ls:
    m_PSG.insert_one(row)

## REVIEW

In [8]:
review_df = pd.read_csv(r'..\..\data_csv\AIRLINEREVIEWS_DB\REVIEW.csv')

In [9]:
review_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19329 entries, 0 to 19328
Data columns (total 17 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   REV_ID            19329 non-null  object
 1   REV_RECOMMENDED   19329 non-null  bool
 2   REV_TITLE         19329 non-null  object
 3   REV_CONTENT       19329 non-null  object
 4   REV_DATE          19329 non-null  object
 5   REV_RT_O          19329 non-null  int64
 6   REV_RT_SC         19329 non-null  int64
 7   REV_RT_CSS        19329 non-null  int64
 8   REV_RT_FB         19329 non-null  int64
 9   REV_RT_GS         19329 non-null  int64
 10  REV_RT_IE         19329 non-null  int64
 11  REV_RT_WC         19329 non-null  int64
 12  REV_RT_VFM        19329 non-null  int64
 13  REV_PSG_ID        19329 non-null  object
 14  REV_FLT_ARL_IATA  19329 non-null  object
 15  REV_FLT_ROUTE     19329 non-null  object
 16  REV_FLT_DATE      19329 non-null  object
dtypes: bool(1), int64(8), object(8)
memory usage: 2.4+ MB

In [10]:
big_ls = []
for index, row in review_df.iterrows():
    row_dict = row.to_dict()

    new_dict = dict()
    new_dict['REV_ID'] = row_dict['REV_ID']
    new_dict['REV_RECOMMENDED'] = row_dict['REV_RECOMMENDED']
    new_dict['REV_TITLE'] = row_dict['REV_TITLE']
    new_dict['REV_CONTENT'] = row_dict['REV_CONTENT']
    new_dict['REV_DATE'] = row_dict['REV_DATE']
    new_dict['REV_RT'] = {'REV_RT_O': row_dict['REV_RT_O'],
                          'REV_RT_SC': row_dict['REV_RT_SC'],
                          'REV_RT_CSS': row_dict['REV_RT_CSS'],
                          'REV_RT_FB': row_dict['REV_RT_FB'],
                          'REV_RT_GS': row_dict['REV_RT_GS'],
                          'REV_RT_IE': row_dict['REV_RT_IE'],
                          'REV_RT_WC': row_dict['REV_RT_WC'],
                          'REV_RT_VFM': row_dict['REV_RT_VFM']}
    new_dict['REV_PSG_ID'] = row_dict['REV_PSG_ID']
    new_dict['REV_FLT_TAG'] = {'REV_FLT_ARL_IATA': row_dict['REV_FLT_ARL_IATA'],
                               'REV_FLT_ROUTE': row_dict['REV_FLT_ROUTE'],
                               'REV_FLT_DATE': row_dict['REV_FLT_DATE']}

    big_ls.append(deepcopy(new_dict))

m_REV = m['REVIEW']
m_REV.drop()

In [11]:
for row in big_ls:
    m_REV.insert_one(row)

## FLIGHT

In [12]:
flight_df = pd.read_csv(r'..\..\data_csv\AIRLINEREVIEWS_DB\FLIGHT.csv')

In [13]:
flight_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18819 entries, 0 to 18818
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   FLT_ARL_IATA  18819 non-null  object
 1   FLT_ROUTE     18819 non-null  object
 2   FLT_DATE      18819 non-null  object
 3   FLT_AIRCRAFT  18819 non-null  object
dtypes: object(4)
memory usage: 588.2+ KB

In [14]:
big_ls = []
for index, row in flight_df.iterrows():
    row_dict = row.to_dict()

    new_dict = dict()
    new_dict['FLT_TAG'] = {'FLT_ARL_IATA': row_dict['FLT_ARL_IATA'],
                           'FLT_ROUTE': row_dict['FLT_ROUTE'],
                           'FLT_DATE': row_dict['FLT_DATE']}
    new_dict['FLT_AIRCRAFT'] = row_dict['FLT_AIRCRAFT']

    big_ls.append(deepcopy(new_dict))

m_FLT = m['FLIGHT']
m_FLT.drop()

In [15]:
for row in big_ls:
    m_FLT.insert_one(row)

## AIRLINE

In [16]:
airline_df = pd.read_csv(r'..\..\data_csv\AIRLINEREVIEWS_DB\AIRLINE.csv')

In [17]:
airline_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467 entries, 0 to 466
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   ARL_IATA       467 non-null    object
 1   ARL_ICAO       467 non-null    object
 2   ARL_NAME       467 non-null    object
 3   ARL_HQ_NATION  467 non-null    object
dtypes: object(4)
memory usage: 14.7+ KB

In [18]:
big_ls = []
for index, row in airline_df.iterrows():
    row_dict = row.to_dict()

    new_dict = dict()
    new_dict['ARL_IATA'] = row_dict['ARL_IATA']
    new_dict['ARL_ICAO'] = row_dict['ARL_ICAO']
    new_dict['ARL_NAME'] = row_dict['ARL_NAME']
    new_dict['ARL_HQ_NATION'] = row_dict['ARL_HQ_NATION']

    big_ls.append(deepcopy(new_dict))

m_ARL = m['AIRLINE']
m_ARL.drop()

In [19]:
for row in big_ls:
    m_ARL.insert_one(row)